PROXIES = http://127.0.0.1:7890
API_KEY = "you_api_key_here_in_https://next.bgm.tv/demo/access-token/create"
IDS = 571784,622206
SMTP_SERVER = "smtp.qq.com"
SMTP_PORT = 465
SMTP_USE_SSL = True
SMTP_USER = "your_qq_number"
SMTP_PASSWORD = "your_smtp_authorization_code"
EMAIL_FROM = "your_qq_number@qq.com"
EMAIL_TO = "receiver1@example.com,receiver2@example.com"